<center><h1>WELCOME TO ROCK PAPER SCISSORS!</h1></center>


<center><h2>OUTCOME:</center>
<center><h2><%= @game.outcome.upcase %></center>

<center><h3>Your move:</center>
<center><h3><%=@user_play%></center>

<center></h3><h3>AI move:</h3></center>
<center></h3><h3><%=@computer_play %></h3></center>

